In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('olympics.csv', index_col= 0, skiprows= 1)
df.head()

In [ ]:
df.index

In [ ]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col: 'Gold'+col[4:]}, inplace = True)
    if col[:2] == '02':
        df.rename(columns={col: 'Silver'+col[4:]}, inplace = True)
    if col[:2] == '03':
        df.rename(columns={col: 'Bronze'+col[4:]}, inplace = True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

In [ ]:
df.head()

In [ ]:
newnames = df.index.str.split('\s\(')

In [ ]:
newnames[-50:]

In [ ]:
df.index = newnames.str[0]
df['ID'] = newnames.str[1].str[:3]

In [ ]:
df = df.drop('Totals')
df.head()

In [ ]:
def answ_zero():
    return df.iloc[0]
answ_zero()

In [ ]:
#Which country has won the most gold medals in summer games?
def answ_one():
    val = df['Gold'].idxmax()
    return val

answ_one()

In [ ]:
diff = df['Gold'] - df['Gold.1']
diff.argmax()

In [ ]:
#Which country had the biggest difference between their summer and winter gold medal counts?

def answ_two():
    diff = df['Gold'] - df['Gold.1']
    return diff.argmax()

answ_two()

In [ ]:
#Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative 
#to their total gold medal count?
#Summer Gold−Winter Gold/Total Gold 
#Only include countries that have won at least 1 gold in both summer and winter.

In [ ]:
def answ_three():
    df2 = df[(df['Gold']>0) & (df['Gold.1']>0) ]
    rel = ((df2['Gold'] - df2['Gold.1'])/ (df2['Gold'] + df2['Gold.1']))
    return rel.argmax()

answ_three()

In [ ]:
### Question 4
#Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts
#for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should 
#return only the column (a Series object) which you created.

#*This function should return a Series named `Points` of length 146*

In [ ]:
def answ_four():
    df3 = df
    df3['Gold.2']= df3['Gold'] + df3['Gold.1']
    df3['Silver.2']= df3['Silver'] + df3['Silver.1']
    df3['Bronze.2']= df3['Bronze'] + df3['Bronze.1']
    df3['Points'] = (df3['Gold.2']*3) + (df3['Silver.2']*2) + (df3['Bronze.2'])
    return df3['Points']

answ_four()

In [3]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [ ]:
#sum level = 40 (state)
#sum level = 50 (county)
#Which state has the most counties in it? 
#(hint: consider the sumlevel key carefully! You'll need this for future questions too...)

In [ ]:
def answ_fivealt():
    return census_df["STNAME"][census_df["SUMLEV"] ==50].value_counts().argmax()
answ_fivealt()

In [ ]:
def answ_five():
    county = census_df[census_df["SUMLEV"]==50]
    county = county.set_index(['STNAME'])
    sum = county["COUNTY"].groupby(county.index).sum()
    max = sum.argmax()
    return max

answ_five()

In [ ]:
#Only looking at the three most populous counties for each state, what are the three most populous states
#(in order of highest population to lowest population)? Use CENSUS2010POP.

#This function should return a list of string values.

In [ ]:
def answer_six():
    
    c2 = census_df
    county = c2[c2["SUMLEV"]==50]
    
    state_df = pd.DataFrame()
    state_df['State'] = list(set(c2["STNAME"]))

    state_df['Top3PoP'] = 0
    state_df.set_index('State',inplace=True)
    county.set_index('STNAME',inplace=True)
    for st in state_df.index:
        countiespop = county['CENSUS2010POP'][county.index == st]
        count = countiespop.sort_values(ascending = False, inplace = True)
    
        if type(countiespop) == pd.Series:
          stsum = sum(countiespop.iloc[:3])
        else:
          stsum = countiespop
        state_df['Top3PoP'].loc[st] = stsum
    
    desc_states = state_df.sort_values('Top3PoP', ascending = False)
    Top3States = desc_states.iloc[:3]
    t = Top3States.reset_index()
    tlist = t['State'].tolist()
    return tlist
answer_six()

In [ ]:
county2 = census_df[census_df["SUMLEV"]==50]
temp = county2.groupby(county2.index).apply(pd.DataFrame.sort_values, 'CENSUS2010POP', ascending= False)

In [ ]:
def answ_sixalt():
    df3 = census_df[census_df.SUMLEV ==50]
    ans=[]
    
    for state in df3["STNAME"].unique():
        d = df3[df3["STNAME"]== state].sort_values(by='CENSUS2010POP', ascending=False)[:3]
        ans.append((state, d['CENSUS2010POP'].sum()))

    ans.sort(reverse=True, key= lambda x: x[1])
    return [pair[0] for pair in ans[:3]]
answ_sixalt()

In [10]:
#Which county has had the largest absolute change in population within the period 2010-2015? 
#(Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)
#e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be
#|130-80| = 50.
#This function should return a single string value.

In [6]:
def answ_seven():
    df4 = census_df[census_df.SUMLEV ==50]
    df4['Difference'] = 0
    pops = ['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
           'POPESTIMATE2014', 'POPESTIMATE2015']

    for pop1 in pops:
        for pop2 in pops:
            diff = np.abs(df4[pop1] - df4[pop2])
            df4['Difference'] = np.where(df4.Difference < diff, diff, df4.Difference)
        
    df4.set_index('CTYNAME', inplace = True)
    return df4['Difference'].argmax()

C:\Users\Shantanu\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Shantanu\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Harris County'

In [7]:
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [11]:
#In this datafile, the United States is broken up into four regions using the "REGION" column.
#Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington',
#and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.
#This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the 
#same index ID as the census_df (sorted ascending by index).

In [9]:
def answer_eight():
    df5 = census_df[census_df.SUMLEV ==50].copy()
    mask = df5.REGION.isin([1, 2]) & df5.CTYNAME.str.startswith('Washington') & (df5.POPESTIMATE2015 > df5.POPESTIMATE2014)
    return df5[['STNAME','CTYNAME']][mask]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County